.comments-section {
    background-color: #F3F3F3;
    width: 100%;
    padding: 50px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.no-comments {
    color: #D9D9D9;
    font-weight: 600;
}
.more {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}