.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.thumbnail {
    position: relative;
    height: 200px;
    width: 200px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
}

.remove {
    position: absolute;
    bottom: -15px;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    border: none;
    background-color: unset;
    transition: all 0.3s ease-out;
    pointer-events: none; /* Prevent flickering when moving mouse over the button */
    cursor:pointer;
}

.thumbnail:hover .remove {
    opacity: 1;
    bottom: -5px; /* Moves up 10px from original -15px position */
    pointer-events: auto; /* Re-enable pointer events when visible */
}

.thumbnail img {
    border-radius: 10px;
}

.initials {
    font-size: 64px;
    font-weight: 550;
}

.edit {
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 1.6px #C6C6C6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #4C4C4C;
    font-size: 18px;
    font-weight: 600;
    background-color: #F8F8F8;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
    border-radius: 1px;
    border-radius: 100px;
    width: 140px;
}

.edit:hover {
    background-color: #e2e2e2;
}