.table {
  font-family: Inter, sans-serif;
  border: none;
  outline: none;
  width: 100%;
  background-color: #FFFFFF;
}

.table td {
  background-color: #c6c6c6;
  height: 30px;
  outline: none;
}

.table tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

.table tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  overflow: visible;
}

.toolbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  padding: 20px;
  color: #4c4c4c;
  background-color: #FBFBFB;
  border: solid 1.6px #C6C6C6;
  border-radius: 8px;
  height: 80px;
  /* flex-wrap: wrap; */
  z-index: 10;
}

/* .cell-properties {
  flex-basis: 100%;
} */

.color {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rows,
.columns,
.number {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
}

.rows label,
.columns label {
  font-size: 11px;
  color: #4c4c4c;
  font-weight: 400;
}

.rows input,
.columns input {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 600;
  outline: none;
  border: solid 1.6px #c6c6c6;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  text-align: center;
}

.number label {
  font-size: 11px;
  color: #4c4c4c;
  font-weight: 400;
}

.number input {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 600;
  outline: none;
  border: solid 1.6px #c6c6c6;
  border-radius: 5px;
  width: 70px;
  height: 27px;
  text-align: center;
}

.text-properties {
  display: flex;
  flex-direction: column;
}

.properties {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.alignment {
  display: flex;
  background-color: #F8F8F8;
  border: solid 1.6px #c6c6c6;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.alignment button {
  height: 100%;
  border: none;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignment .selected {
  background-color: #E5E5E5;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radius {
  position: relative;
}

.radius .icon {
  position: absolute;
  top: -2;
  right: 22;
}

.corners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.corners input{ 
 height: 20px;
 width: 40px;
 text-align: right;
}

.delete {
  border: solid 1.6px #c6c6c6;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  fill: #4c4c4c;
}

.delete:hover {
  background-color: #C6C6C6;
}

.cell {
  outline: none;
}

.focused td.selected {
    outline: 2px solid #0066ff;
    outline-offset: -1px;
}
