.container {
    min-height: 800px;
    background-color: #103A88;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.title {
    color: white;
    font-size: 42px;
    font-weight: 600;
    width: 100%;
    padding-left: 30px;
}