.biography {
  background: radial-gradient(circle, #527cca 0%, #1f52b1 60%, #0d3785 85%, #062357 100%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}

.languages {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages-image {
  width: 107%;
  height: 107%;
}

.paint-spackle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/languages.svg");
  background-size: cover;
  background-position: center;
}

.profile-description-and-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  height: 330px;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  gap: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 4px #00000040;
}

.profile-image-area {
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-image {
  background-color: #7090cd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.name-and-title {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name {
  font-size: 28px;
  font-weight: 600;
}

.description-and-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 70%;
  gap: 20px;
}

.description {
  box-shadow: inset 0 0 4px #00000040;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-size: 14px;
  font-style: italic;
  color: #2e2e2ecc;
  height: 300px;
  padding: 5px;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

@media (width <= 950px) {
  .paint-spackle-image {
    width: 90%;
  }

  .profile-description-and-socials {
    padding: 15px;
    width: 58%;
  }

  .profile {
    flex: 1;
  }

  .description-and-socials {
    flex: 2;
  }

  .profile-image-area {
    width: 100%;
    height: auto;
  }

  .description {
    /* flex: 3; */
    font-size: 12px;
    height: unset;
  }

  .socials {
    flex: 2;
  }
}

@media (width <= 640px) {
  .biography {
    padding: 0;
    width: 100%;
  }

  .profile {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    height: unset;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 7px #00000040;
  }

  .profile-image-area {
    width: unset;
    margin-top: 30px;
  }

  .profile-image-area img {
    height: 200px;
    width: 200px;
  }

  .profile-image {
    background-color: #f1f8ff;
    border-radius: 20px;
  }

  .name {
    font-size: 48px;
  }

  .title {
    font-size: 24px;
  }

  .languages {
    display: none;
  }

  .paint-spackle-image {
    display: none;
  }

  .paint-spackle {
    background-color: #f3f3f3;
    position: static;
    height: unset;
  }

  .profile-description-and-socials {
    flex-direction: column;
    position: static;
    transform: none;
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .description-and-socials {
    flex-direction: column-reverse;
    width: 100%;
  }

  .socials {
    padding: 5px;
    width: 100%;
  }

  .description {
    background-color: #0000;
    padding-bottom: 30px;
    box-shadow: none;
  }
}