.container {
    border: solid 1.6 #C6C6C6;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    border-radius: 2px;
    padding: 20px;
    grid-column: span 1;
    grid-row: span 2;
}

.title {
    color: var(--widget-title);
    margin: 0;
    margin-bottom: 20px;
}

.search {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.search .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 100%;
    left: 10px;
}

.search input {
    width: 100%;
    height: 35px;
    border: solid 1px var(--active-user-border);
    color: #4C4C4C;
    border-radius: 8px;
    padding-left: 30px;
    font-family: Inter, sans-serif;
    outline: none;
    font-size: 14px;
    background-color: var(--active-user-search-background);
}

.search input:focus {
    border: solid 1px #8E8E8E;
}

.users {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--active-user-name);
    border: solid 1.6px var(--active-user-border);
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    padding-left: 15px;
    gap: 20px;
}

.avatar{position: relative;}

.avatar,
.avatar img {
    border-radius: 50%;
}

.green-circle,
.yellow-circle,
.red-circle {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    border: solid 0.6px #D1D1D1;
    height: 10px;
    width: 10px;
    bottom: -2px;
    right: -2px;
}

.green-circle {
    background-color: #3DF400;
}

.yellow-circle {
    background-color: #fff945;
}

.red-circle {
    background-color: #a52e19;
}

.user:hover {
    transform: scale(1.01);
}