.container {
    margin-top: 90px;
    margin-left: 60px;
    width: calc(100% - 60px);
    min-height: calc(100vh - 90px);
    background-color: var(--background);
    padding: 50px;
}
@media (max-width: 1030px) {
    .container {
        margin-left: 0;
        width: 100%;
        padding: 20px;
        padding-bottom: 80px;
    }
}
