.add-calendar {
    display: flex;
    position: relative;
    width: min-content;
    box-shadow: 0 0 4px 1 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.add-calendar img {
    position: absolute;
    top: 0;
    left: -20px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    color: #3D3D3D;
    width: 500px;
    height: 108px;
    padding-left: 120px;
}