.project-dates {
    color: rgba(46, 46, 46, 0.8);
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.start-date, .end-date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 3;
    gap:3px;
}

.icon {
    flex: 0.5;
}

.icon svg {
    height: 20px;
    width: auto;
}

.label {
    font-size: 9px;
    color: #000000;
    font-weight: 600;
}

.date {
    background-color: #D9D9D9;
    color: rgba(46, 46, 46, 0.8);
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-weight: 600;
}