.description {
    width: calc(100% - 20px);
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    color: rgba(46,46,46,0.8);
    margin-bottom: 10px;
    height: 150px;
}