.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link svg {
  display: none;
}

@media (width <= 640px) {
  .link svg {
    display: block;
  }

  .text {
    font-size: 9px;
  }
}