.nav {
  background-color: #011a49;
  padding: 1rem;
  height: 90px;
}

.nav ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav a:hover {
  text-decoration: underline;
}

@media (width <= 640px) {
  .nav {
    display: none;
  }
}