/* Overlay */
.overlay {
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Black with 25% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of other elements */
  }
  
  /* Popup */
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    /* width: 100%; */
    z-index: 1001; /* Ensure it is on top of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .popup-title {
    color: rgba(46,46,46,0.8);
    font-weight: 600;
    font-size: 32px;
  }