.description {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    z-index: 100;
    padding: 10px;
}

.logo {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}