.container {
    align-items: center;
    background: #E3E3E3;
    display: flex;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }
  
.slider {
  display: flex;
  position: relative;
  width: 100%;
  gap: 10px;
}

.paused {
  animation-play-state: paused;
}