.timeline {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.timeline > div{
    flex: 1;
}

.year {
    position: relative;
    margin-right: 5px;
}

.year .indicator {
    height: 30px;
    width: 8px;
    background-color: #021C4D;
}

.year .text {
    transform: rotate(90deg);
    bottom: 0px;
    position: absolute;
    left: -27px;
    font-size: 25px;
    font-weight: 600;
    color: #021C4D;
}

.february .indicator,
.march .indicator,
.april  .indicator,
.may .indicator,
.june .indicator,
.july  .indicator,
.august .indicator,
.september .indicator,
.november .indicator,
.december .indicator{
    background-color: #021C4D;
    height: 10px;
    width: 2px;
}

.april  .indicator,
.july  .indicator,
.october .indicator {
    background-color: #021C4D;
    height: 20px;
    width: 3px;
}

.year { margin-top: 400px }
.january { margin-top: 400px }
.february { margin-top: 400px }
.march { margin-top: 400px }
.april { margin-top: 400px }
.may { margin-top: 400px }
.june { margin-top: 400px }
.july { margin-top: 400px }
.august { margin-top: 400px }
.september { margin-top: 400px }
.october { margin-top: 400px }
.november { margin-top: 400px }
.december { margin-top: 400px }