.views {
    color: rgba(46, 46, 46, 0.8);
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    gap: 5px;
    height: 50px;
    width: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    height: 20px;
    width: 20px;
}

.text {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}