.media-field {
    grid-row: span 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    padding: 15px;
    outline: none;
    font-size: 16px;
    color: #4C4C4C;
    border: solid 1.6px #C6C6C6;
    box-shadow: 0 0 1.5px 0 rgba(0,0,0,0.25);
    height: 42px;
}