.sleek-blue {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #113C8D;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sleek-blue:disabled {
    cursor: not-allowed;
    background-color: #394f79;
}

.sleek-blue:not(:disabled):hover {
    background-color: #011A49;
}