.container {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
}

.container input {
    padding: 15px;
    outline: none;
    font-size: 16px;
    color: var(--form-color-picker-color);
    border: solid 1.6px var(--form-input-border);
    background-color:  var(--form-input-background);
    border: none;
    box-shadow: 0 0 1.5px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    height: 42px;
    width: 100%;
}

.field-included input {
    border: solid 1.6px var(--form-color-picker-border);
}

.picker {
    top: 0;
    right: 0;
    height: 42px;
    padding: 5px;
    padding-right: 7px;
    position: absolute; 
    opacity: 0;
}

.picker input {
    width: 10px;
    height: 10px;
}

.field-included .picker {
    opacity: 1;
}

.color-wheel {
    border: none;
    background-color: unset;
    top: 0;
    right: 0;
    height: 42px;
    padding: 5px;
    padding-right: 7px;
    z-index: 2;
}

.field-included .color-wheel {
    border: solid 1.6px var(--form-color-picker-border);
    background-color: var(--form-color-picker-wheel-background);
    position: absolute;
}

.color-wheel div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}