.slide {
  border-radius: 25px;
  box-shadow: 0 0 4px #00000040;
  height: 90px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: transform;
}

.slide img {
  height: 100%;
}

.slide:hover {
  transform: scale(1.1);
}