@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #011A49;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #011A49;
  max-width: 1200px;
  box-shadow: -10px 0 10px -10px #000000, 10px 0 10px -10px #000000;
}

.experience-and-skills {
  background-color: #FFFFFF;
  height: 1000px;
}

.contact-and-schedule-meeting {
  /* height: 400px; */
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-and-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.calendar-title {
  font-size: 32px;
  color: #2E2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}