:root {
  --background: #011a49;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.experience-and-skills {
  background-color: #f3f3f3;
}

.skills-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
  padding: 40px;
}

.metal img {
  border-radius: 20px;
  width: 400px;
  height: 500px;
}

.skills-title-and-description {
  position: relative;
  color: #2e2e2e;
}

.skills-title {
  position: absolute;
  top: 50px;
  width: 350px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #d9d9d9cc;
  box-shadow: inset 0 0 4px #2e2e2e80;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.skills-description {
  position: absolute;
  top: 150px;
  width: 350px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #d9d9d9cc;
  box-shadow: inset 0 0 4px #2e2e2e80;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 200;
  font-style: italic;
  font-size: 24px;
}

.screw-one {
  position: absolute;
  top: 10px;
  left: 10px;
}

.screw-two {
  position: absolute;
  top: 10px;
  right: 10px;
}

.screw-three {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.screw-four {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.projects-display {
  position: relative;
  background-color: #252525;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 50px;
  background-color: #161b28;
}

.previous-projects, .next-projects {
  top: calc(50% - 30px);
  position: absolute;
  height: 60px;
  width: 40px;
  background-color: #d9d9d9b3;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.previous-projects svg, .next-projects svg {
  height: 30px;
}

.previous-projects {
  left: 0;
  justify-content: flex-start;
  padding-left: 7px;
}

.next-projects {
  right: 0;
  justify-content: flex-end;
  padding-right: 7px;
}

.previous-projects:hover, .next-projects:hover {
  background-color: #5c5c5cb3;
}

.previous-projects:hover path, .next-projects:hover path {
  stroke: #c1c1c1;
}

.contact-and-schedule-meeting {
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-and-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.calendar-title {
  font-size: 32px;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.project-pages {
  width: 50px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.project-page {
  background-color: #bcbcbc66;
  box-shadow: 0 0 4px #ffffff40;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.selected-page {
  background-color: #ffffffb3;
  box-shadow: 0 0 4px #ffffffb3;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

#experiences {
  padding-top: 50px;
}

.codex-editor {
  background-color: white;
}

#editorjs {
  width: 100%;
}

@media (width <= 1200px) {
  .skills-display {
    flex-direction: column;
  }

  .skills-title-and-description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .metal img {
    width: 700px;
    height: 200px;
  }

  .skills-title {
    top: 20px;
    left: 140px;
    height: 160px;
    width: 210px;
  }

  .skills-description {
    top: 20px;
    font-size: 20px;
    width: 380px;
    height: 160px;
    right: 30px;
    transform: none;
    left: unset;
  }

  .contact-and-schedule-meeting {
    padding: 40px;
  }
}

@media (width <= 950px) {
  #contact {
    flex: 1;
  }

  #meeting {
    flex: 1;
  }
}

@media (width <= 900px) {
  body {
    margin: 0;
  }
}

@media (width <= 768px) {
  .contact-and-schedule-meeting {
    flex-direction: column-reverse;
  }

  #meeting {
    width: 100%;
  }

  #contact {
    width: 100%;
  }
}

@media (width <= 640px) {
  body {
    margin: 0;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  #skills {
    padding: 0;
  }

  .skills-title-and-description {
    display: none;
  }

  #projects {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .projects {
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .calendar-title {
    margin-top: 40px;
    height: 20%;
  }

  .contact-and-schedule-meeting {
    padding: 0;
    gap: 0;
    margin-bottom: 90px;
  }

  #experiences {
    padding-top: 80px;
  }

  #meeting {
    width: 100%;
    height: calc(100vh - 90px);
  }

}