
:root {
  --background: #FFFFFF;
  --navigation-input-background: #e9e9e9;
  --navigation-bottom-border: #d9d9d9;
  --sidebar-background: #F2F2F2;
  --sidebar-icons: #727272;
  --sidebar-icons-hover: #474747;
  --sidebar-text: #474747;
  --breadcrumbs-title-color: #4C4C4C;
  --breadcrumbs-color: #4C4C4C;
  --breadcrumbs-icon: #727272;
  --table-color: #4C4C4C;
  --table-row-hover: #F8F8F8;
  --table-input-background: #FFFFFF;
  --table-input-placeholder: #C6C6C6;
  --table-icon: #727272;
  --table-icon-hover: #4C4C4C;
  --table-border: #E5E5E5;
  --table-action-border: #C6C6C6;
  --table-action-background: #f8f8f8;
  --table-action-dropdown-background: #FFFFFF;
  --table-action-color: #4C4C4C;
  --table-action-icon: #4C4C4C;
  --table-action-option-hover: #F8F8F8;
  --form-background: #F8F8F8;
  --form-border: #E8E8E8;
  --form-label: #00449C;
  --form-input-color: #4C4C4C;
  --form-input-background: #FFFFFF;
  --form-input-disabled-background: #FFFFFF;
  --form-input-border: #C6C6C6;
  --form-back-button: #F8F8F8;
  --form-back-button-border: #C6C6C6;
  --form-back-button-color: #4C4C4C;
  --form-back-button-icon: #727272;
  --form-back-button-hover: #e2e2e2;
  --form-primary-button-border: #FFFFFF;
  --form-dropdown-color: #4C4C4C;
  --form-dropdown-color-disabled: #C6C6C6;
  --form-dropdown-background: #FFFFFF;
  --form-dropdown-border: #C6C6C6;
  --form-dropdown-option-background: #FFFFFF;
  --form-dropdown-option-hover: #d1d1d1;
  --form-color-picker-color: #4C4C4C;
  --form-color-picker-border: #C6C6C6;
  --form-color-picker-wheel-background: #FFFFFF;
  --form-media-picker-background: #F2F2F2;
  --form-thumbnail-background: #F2F2F2;
  --form-avatar-background: #D9D9D9;
  --editor-background: #FFFFFF;
  --editor-border: #C6C6C6;
  --editor-bar-background: linear-gradient(#E3E3E3 0%, #F5f5f5 50%, #E3E3E3 100%);
  --editor-color: #4C4C4C;
  --editor-bar-button-background: #efefef;
  --widget-title: #4C4C4C;
  --new-comment-background: #F8F8F8;
  --new-comment-border: #D1D1D1;
  --new-comment-name: #4C4C4C;
  --new-comment-blog: #4C4C4C;
  --new-comment-text: #3D3D3D;
  --pending-user-border: #D1D1D1;
  --pending-user-name: #4C4C4C;
  --upcoming-meeting-border: #D1D1D1;
  --upcoming-meeting-name: #4C4C4C;
  --upcoming-meeting-text: #4C4C4C;
  --new-message-background: #F8F8F8;
  --new-message-border: #D1D1D1;
  --new-message-name: #4C4C4C;
  --new-message-text: #3D3D3D;
  --active-user-search-background: #FFFFFF;
  --active-user-border: #D1D1D1;
  --active-user-name: #4C4C4C;
  --site-clicks-name: #4C4C4C;
  --site-clicks-timeframe-color: #9E9E9E;
  --site-clicks-timeframe-hover-color: #272727;
  --site-clicks-timeframe-selected-color: #4C4C4C;
  --settings-description: #4C4C4C;
  --toggle-container-background: #D9D9D9;
  --toggle-background: #FFFFFF;
}

.dark-mode {
  --background: #2D2D2D;
  --navigation-input-background: #727272;
  --navigation-bottom-border: #9c9c9c;
  --sidebar-background: #3C3C3C;
  --sidebar-icons: #8C8C8C;
  --sidebar-icons-hover: #FFFFFF;
  --sidebar-text: #a7a7a7;
  --breadcrumbs-title-color: #EFEFEF;
  --breadcrumbs-color: #EFEFEF;
  --breadcrumbs-icon: #EFEFEF;
  --table-color: #EFEFEF;
  --table-row-hover: #3f3f3f;
  --table-input-background: #727272;
  --table-input-placeholder: #4C4C4C;
  --table-icon: #EFEFEF;
  --table-icon-hover: #FFFFFF;
  --table-border: #a5a5a5;
  --table-action-border: #696969;
  --table-action-background: #383838;
  --table-action-dropdown-background: #383838;
  --table-action-color: #EFEFEF;
  --table-action-icon: #EFEFEF;
  --table-action-option-hover: #4e4e4e;
  --form-background: #464646;
  --form-border: #656565;
  --form-label: #C0C0C0;
  --form-input-color: #FFFFFF;
  --form-input-background: #727272;
  --form-input-disabled-background: #727272;
  --form-input-border: #727272;
  --form-back-button-background: #383838;
  --form-back-button-border: #696969;
  --form-back-button-color: #EFEFEF;
  --form-back-button-icon: #EFEFEF;
  --form-back-button-hover: #4e4e4e;
  --form-primary-button-border: #696969;
  --form-dropdown-color: #FFFFFF;
  --form-dropdown-background: #727272;
  --form-dropdown-border: #727272;
  --form-dropdown-option-background: #383838;
  --form-dropdown-option-hover: #4e4e4e;
  --form-color-picker-color: #FFFFFF;
  --form-color-picker-border: #727272;
  --form-color-picker-wheel-background: #8d8d8d;
  --form-media-picker-background: #727272;
  --form-thumbnail-background: #383838;
  --form-avatar-background: #383838;
  --editor-background: #aaaaaa;
  --editor-border: #727272;
  --editor-bar-background: linear-gradient(#353535 0%, #505050 50%, #353535 100%);
  --editor-color: #EFEFEF;
  --editor-bar-button-background: #383838;
  --widget-title: #EFEFEF;
  --new-comment-background: #2D2D2D;
  --new-comment-border: #727272;
  --new-comment-name: #EFEFEF;
  --new-comment-blog: #EFEFEF;
  --new-comment-text: #FFFFFF;
  --pending-user-border: #727272;
  --pending-user-name: #EFEFEF;
  --upcoming-meeting-border: #727272;
  --upcoming-meeting-name: #EFEFEF;
  --upcoming-meeting-text: #EFEFEF;
  --new-message-background: #2D2D2D;
  --new-message-border: #727272;
  --new-message-name: #EFEFEF;
  --new-message-text: #FFFFFF;
  --active-user-search-background: #727272;
  --active-user-border: #727272;
  --active-user-name: #EFEFEF;
  --site-clicks-name: #EFEFEF;
  --site-clicks-timeframe-color: #727272;
  --site-clicks-timeframe-hover-color: #FFFFFF;
  --site-clicks-timeframe-selected-color: #d2d2d2;
  --settings-description: #EFEFEF;
  --toggle-container-background: #383838;
  --toggle-background: #D9D9D9;
}

* {
  box-sizing: border-box;
}

body {
  color: #171717;
  background-color: var(--background);
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.experience-and-skills {
  background-color: #f3f3f3;
}

.skills-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
  padding: 40px;
}

.metal img {
  border-radius: 20px;
  width: 400px;
  height: 500px;
}

.skills-title-and-description {
  position: relative;
  color: #2e2e2e;
}

.skills-title {
  position: absolute;
  top: 50px;
  width: 350px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #d9d9d9cc;
  box-shadow: inset 0 0 4px #2e2e2e80;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.skills-description {
  position: absolute;
  top: 150px;
  width: 350px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #d9d9d9cc;
  box-shadow: inset 0 0 4px #2e2e2e80;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 200;
  font-style: italic;
  font-size: 24px;
}

.screw-one {
  position: absolute;
  top: 10px;
  left: 10px;
}

.screw-two {
  position: absolute;
  top: 10px;
  right: 10px;
}

.screw-three {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.screw-four {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.projects-display {
  position: relative;
  background-color: #252525;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 50px;
  background-color: #161b28;
}

.previous-projects, .next-projects {
  top: calc(50% - 30px);
  position: absolute;
  height: 60px;
  width: 40px;
  background-color: #d9d9d9b3;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.previous-projects svg, .next-projects svg {
  height: 30px;
}

.previous-projects {
  left: 0;
  justify-content: flex-start;
  padding-left: 7px;
}

.next-projects {
  right: 0;
  justify-content: flex-end;
  padding-right: 7px;
}

.previous-projects:hover, .next-projects:hover {
  background-color: #5c5c5cb3;
}

.previous-projects:hover path, .next-projects:hover path {
  stroke: #c1c1c1;
}

.contact-and-schedule-meeting {
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-and-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.calendar-title {
  font-size: 32px;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.project-pages {
  width: 50px;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.project-page {
  background-color: #bcbcbc66;
  box-shadow: 0 0 4px #ffffff40;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.selected-page {
  background-color: #ffffffb3;
  box-shadow: 0 0 4px #ffffffb3;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

#experiences {
  padding-top: 50px;
}

.codex-editor {
  background-color: white;
}

#editorjs {
  width: 100%;
}

@media (width <= 1200px) {
  .skills-display {
    flex-direction: column;
  }

  .skills-title-and-description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .metal img {
    width: 700px;
    height: 200px;
  }

  .skills-title {
    top: 20px;
    left: 140px;
    height: 160px;
    width: 210px;
  }

  .skills-description {
    top: 20px;
    font-size: 20px;
    width: 380px;
    height: 160px;
    right: 30px;
    transform: none;
    left: unset;
  }

  .contact-and-schedule-meeting {
    padding: 40px;
  }
}

@media (width <= 950px) {
  #contact {
    flex: 1;
  }

  #meeting {
    flex: 1;
  }
}

@media (width <= 900px) {
  body {
    margin: 0;
  }
}

@media (width <= 768px) {
  .contact-and-schedule-meeting {
    flex-direction: column-reverse;
  }

  #meeting {
    width: 100%;
  }

  #contact {
    width: 100%;
  }
}

@media (width <= 640px) {
  body {
    margin: 0;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  #skills {
    padding: 0;
  }

  .skills-title-and-description {
    display: none;
  }

  #projects {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .projects {
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .calendar-title {
    margin-top: 40px;
    height: 20%;
  }

  .contact-and-schedule-meeting {
    padding: 0;
    gap: 0;
    margin-bottom: 90px;
  }

  #experiences {
    padding-top: 80px;
  }

  #meeting {
    width: 100%;
    height: calc(100vh - 90px);
  }

}