.site-container {
  max-width: 1200px;
  box-shadow: -10px 0 10px -10px #000, 10px 0 10px -10px #000;
  width: 100vw;
}

.admin-container {
  width: 100vw;
  height: 100vh;
}

.login-container {
  width: 100vw;
  height: 100vh;
}

.gradient {
  background: linear-gradient(#011a49 0%, #113c8d 44% 60%, #011a49 85%);
}

.white {
  background: #FFFFFF;
}