.container {
    border: solid 1.6 #C6C6C6;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    border-radius: 2px;
    padding: 20px;
    grid-column: span 2; /* Spans 2 columns */
    grid-row: span 2;    /* Spans 2 rows */
    max-height: 570px;
}

.title {
    color: var(--widget-title);
    margin: 0;
    margin-bottom: 10px;
}

.messages {
    overflow-y: auto;
    display: flex;
    height: 490px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

.message {
    background-color: var(--new-message-background);
    border: solid 1.6px var(--new-message-border);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    padding: 8px;
}

.avatar-and-timestamp {
    display: flex;
    justify-content: space-between;
}

.avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.initials {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.name {
    font-weight: 545;
    font-size: 17px;
    color: var(--new-message-name);
}

.timestamp {
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--new-message-text);
    font-weight: 100;
    font-style: italic;
    font-size: 15px;
} 