.background {
  background-color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  padding-top: 0;
  gap: 30px;
}

.add-calendar-and-cancel-meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.project-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#011a49 0%, #113c8d 44% 60%, #011a49 85%);
  padding: 20px;
  border-radius: 20px;
  height: 388px;
}

.project-preview img {
  width: 500px;
}

@media (width <= 640px) {
  .background {
    min-height: 100vh;
  }

  .content {
    flex-direction: column-reverse;
    padding: 0;
  }

  .project-preview {
    width: 100%;
    height: unset;
    border-radius: 0;
  }

  .project-preview img {
    width: 90vw;
  }

  .add-calendar-and-cancel-meeting {
    padding: 10px;
  }
}