.container {
    margin-bottom: 70px;
}

.title {
    font-size: 56px;
    font-weight: 600;
    color: var(--breadcrumbs-title-color);
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.icon-and-link {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    align-items: flex-end;
    cursor: pointer;
    gap: 10px;
}

.icon {
     display: flex;
    justify-content: center;
    align-items: center;
}

.icon path {
    fill: var(--breadcrumbs-icon);
}

.label {
    color: var(--breadcrumbs-color)
}

.icon-and-link:hover .label {
    text-decoration: underline;
}