.container {
    margin-top: 90px;
    margin-left: 60px;
    width: calc(100% - 60px);
    min-height: calc(100vh - 90px);
    padding: 50px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 50px;
}