.footer {
  background-color: #FFF;
  padding: 0px 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.05)
}

.footer .copyright-and-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer .copyright {
  display: flex;
  font-weight: 600;
  color: #555555;
}

.footer .socials {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}