.background {
    background-color: #FFFFFF;
    min-height: calc(100vh - 60px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #3D3D3D;
}

.post {
    padding: 0 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.date-read-time-and-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.date,
.bullet,
.read-time {
    color: #656565;
}

.category {
    margin-left: 13px;
    color: #A1C2FF;
    font-size: 18px;
}

@media (max-width: 768px) {
    .container {
        padding-top: 80px;
    }
    
    .post {
        padding: 0 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .date-read-time-and-category {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .category {
        margin-left: 0;
    }
}