.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f3f3f3;
  height: 100%;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  height: 100%;
  gap: 10px;
  padding-bottom: 110px;
}

.contact-form-title {
  font-size: 32px;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
}

.email-first-and-last-name {
  display: flex;
  gap: 10px;
  width: 100%;
}

.first-name,
.last-name,
.email {
  outline: none;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.first-name,
.last-name {
  flex: 1;
}

.email {
  flex: 1.5;
}

.message {
  width: 100%;
  position: relative;
  height: 100%;
}

.message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  padding: 5px;
  font-family: Inter, sans-serif;
}

@media (width <=1000px) {
  .email-first-and-last-name {
    flex-wrap: wrap;
  }

  .email {
    flex-basis: 100%;
  }
}

@media (width <=640px) {
  .contact-form-title {
    margin-top: 40px;
    text-align: center;
  }

  .last-name {
    flex-basis: 100%;
  }
}