.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 400px;
  height: 390px;
}

.calendar-legend {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.previous-month, .next-month {
  cursor: pointer;
}

.toggle-month-disabled {
  cursor: default;
}

.toggle-month-disabled path {
  fill-opacity: .2;
}

.current-month {
  color: #79d2ff;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}

.calendar-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  gap: 3px;
}

.days-of-the-week {
  display: flex;
  width: 100%;
  gap: 3px;
}

.day-of-the-week {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 3px;
  background-color: #fff;
  color: #2e2e2ecc;
  font: 16px;
  font-weight: 600;
  height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.days {
  display: flex;
  width: 100%;
  gap: 3px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 3px;
  background-color: #fff;
  color: #2e2e2ecc;
  font: 16px;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
  transition: transform .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselected {
  background-color: #fff6;
  cursor: default;
}

.current-day {
  background-color: #79d2ff;
  color: #fff;
}

.past {
  cursor: default;
}

.day:not(.unselected):not(.past):hover {
  transform: scale(1.1);
}

@media (width <= 950px) {
  .calendar {
    flex: 1;
    width: 100%;
  }
}

@media (width <= 640px) {
  .calendar {
    width: 100%;
    height: unset;
    border-radius: 0;
  }

  .day {
    height: 50px;
  }
}