.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.video video {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video source, .video video {
  border-radius: 10px;
}

.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2eb3;
  color: #fff;
  font-size: 32px;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1;
}

.video:hover .preview {
  display: flex;
}

@media (width <= 950px) {
  .preview {
    font-size: 20px;
  }
}

@media (width <= 640px) {
  .preview {
    font-size: 24px;
  }
}