.time {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  gap: 20px;
  color: #79d2ff;
  height: 60px;
  cursor: pointer;
  border: 2px solid #0000;
}

.time:not(.occupied):hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.occupied {
  cursor: not-allowed;
  background-color: #E5E5E5;
}

.selected {
  background-color: rgba(37, 113, 255, 0.7);
}

.selected .value {
  color: #fff;
}

.value {
  color: #999999;
  font-weight: 600;
  font-size: 20px;
}