.container {
    border: solid 1.6 #C6C6C6;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    border-radius: 2px;
    padding: 20px;
    max-height: 260px;
    height: 260px;
}

.title {
    color: var(--widget-title);
    margin: 0;
    margin-bottom: 40px;
}

.count {
    flex: 2;
    background-image: linear-gradient(to right, #43A4FF 0%, #0084FF 75%, #0370D5 100%);
    font-size: 96px;
    font-weight: 600;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}